.EightBall {
    display: flex;
    height: 300px;
    width: 300px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: x-large;
}